@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meie+Script&display=swap');


/* *************** Main and NavBar ************** */
.App{
  display: grid;
  grid-template-rows: .5fr 4fr;
}

.navbar{
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: .25fr 1fr 1fr .25fr;
  background-image: url("./Images/green-marblewithgold.png");
  background-size: cover;
  width: 100vw;
  height: 135px;
  border-bottom: .75em solid burlywood
}
.navBarHdg{
  color: goldenrod;
  font-family: 'Imperial Script', cursive;
  text-align: center;
  font-size: 4.5em;
  margin-left: .5em;
  grid-column-start: 2;
  grid-column-end: 4;
  text-decoration: none;
}

.transactionsListButton{
  background-color: goldenrod;
  font-size: 1.5em ;
  font-weight: bold;
  margin-left: 0;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 7.5em;
}

.newTransactionButton{
  background-color: goldenrod;
  font-size: 1.5em ;
  font-weight: bold;
  margin-right: 0;
  grid-column-start: 4;
  grid-column-end: 5;
  width: 9.5em;
}


/* .appDataArea{
  display: grid;
  grid-row: 2;
  background-color: rgb(11, 72, 11);
  grid-template-columns: 1fr 1fr 1fr;
} */


.transactionsComponent{
  grid-row: 2;
  display: grid;
  background-image: url("./Images/mint-marble.png");
  grid-template-columns: .5fr .5fr .5fr .5fr .5fr .5fr .5fr;
  grid-template-rows: auto;
  min-height: 5em;
  min-width: 5em;
  height: 90vh;
  width: 100vw;
  padding-left: .5em;
}

.transactionsBox{
  grid-column-start: 2;
  grid-column-end: 7;
  background-image: url("./Images/cash1.png");
  height: 20vh;
  width: 72vw;
  border: 7px solid green;
  background-size: 50%;
} 

 
.homePage{
  height: 90vh;
  width: 100vw;
  background-image: url("./Images/mint-marble.png");
  background-color: rgb(10, 49, 10)
}

.newPage, .editPage{
  height: 90vh;
  width: 100vw;
  background-image: url("./Images/cashinbox.png");
  background-color: rgb(10, 49, 10);
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.newTransactionFormHdg{
  font-size: 2.5em;
  text-align: center;
  font-weight: bolder;
  font-family: 'Meie Script', cursive;
   font-family: 'Barlow', sans-serif; 
   font-family: 'Imperial Script', cursive; 
  color: rgb(8, 45, 34);
}

.newTransactionFormBox, .editTransactionForm{
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("./Images/mint-marble.png");
  font-weight: bold;
}

label {
margin-left: 10em;
padding-right: 2em;
}
input[type="text" i], input[type="number" i], input[type="date" i] {
  width: 21.5em;
}

input#amount{
  margin-left: 1.5em;
}
input#from{
  margin-left: 2.8em;
}
input#date{
  margin-left: 3.28em;
}
input#category{
  margin-left: .9em;
}
input#description{
  margin-left: -.39em;
}

input[type="submit" i]{
  margin-left: 20.5em;
  width: 11em;
  font-weight: bold;
}
input[type="submit" i]:hover{
  margin-left: 20.5em;
  width: 11em;
  background-color: rgb(8, 47, 7);
  color:gold;
}

.errorPage {
  height: 150vh;
  width: 100vw;
 background-color: rgb(240, 189, 147);
}

.transactionIndexPage{
  display: grid;
  grid-template-rows: 1fr 5fr;
}
.tableHdg{
  grid-row: 1;
  display: grid;
  grid-template-columns: repeat(7fr);
}
table {
  grid-row: 2;
  display: grid;
  /* border-collapse: collapse; */
  min-width: 100%;
  grid-template-columns: 
    minmax(10vw, .7fr)
    minmax(10vw, .7fr)
    minmax(10vw, .7fr)
    minmax(10vw, .7fr)
    minmax(10vw, .7fr)
    minmax(10vw, .7fr)
    minmax(10vw, .7fr);
}

td {
  padding: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

 /* th {
  position: sticky;
  top: 0; 
  background: #f2d07a; 
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: rgb(9, 0, 0); 
  margin-left: -10em;
 }  */

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #271e08;
  margin-left:1em;
}
.transactionsListHdg{
  grid-column-start: 1;
  grid-column-end: 7;
  background-image: url("./Images/lightgreyTan-marble.png");
  height: 5vh;
  width: 50vw;
}




 .transactionsListHdg{
  grid-column-start: 1;
  grid-column-end: 7;
  background-image: url("./Images/lightgreyTan-marble.png");
  height: 5vh;
  width: 50vw;
}

 /* .item-list { 
  grid-column-start:1;
  grid-column-end: 2;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  background-color: rgba(255, 234, 0, 0.4);
}  */


/* ****************Index Table Headings ***************** */
.th1 {
  grid-column-start:1;
  grid-column-end: 2;
  grid-row: 1;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  background-color: rgba(255, 234, 0, 0.4); 
} 
.amount {
  grid-column-start:1;
  grid-column-end: 2;
  grid-row: 1;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
   background-color: rgba(255, 234, 0, 0.4); 
}
.from {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
   background-color: rgba(255, 234, 0, 0.4); 
}
.category {
  grid-row: 1;
  grid-column-start:3;
  grid-column-end: 4;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
   background-color: rgba(255, 234, 0, 0.4); 
}
.date {
  grid-row: 1;
  grid-column-start:4;
  grid-column-end: 5;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
   background-color: rgba(255, 234, 0, 0.4); 
}

 .description {
  grid-row: 1;
  grid-column-start:5;
  grid-column-end: 6;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
   background-color: rgba(255, 234, 0, 0.4); 
 }  
/* tr:nth-child(even) td {
  background: #f8f6ff;
} */


.viewItem{
  grid-column-start:1;
  grid-column-end: 2;
}
.item1{
  grid-column-start:2;
  grid-column-end: 3;
}
.item2{
  grid-column-start:3;
  grid-column-end: 4;
}
.item3{
  grid-column-start:3;
  grid-column-end: 4;
}
.item4{
  grid-column-start:4;
  grid-column-end: 5;
}
.item5{
  grid-column-start:6;
  grid-column-end: 7;
}
.item6{
  grid-column-start:7;
  grid-column-end: 8;
}
.items{
  margin-left:1em;
}